<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<% if @task.completed %>
   <p>[x] This task is completed!</p>
<% else %>
  <p>[ ] This task is not completed yet</p>
<% end %>

<%= link_to 'Edit task', edit_task_path(@task) %>
<%= link_to 'Back to list', task_path %>

